# Git
.git/

# Environment variables
.env

# Dependencies
node_modules/



# Build output
dist/
build/

# OS
.DS_Store

# Python virtual environment
venv/
tf-venv/
.env
__pycache__/
# Virtual environments
venv/
tf-venv/

# Python junk
__pycache__/
.ipynb_checkpoints/
.env
